<!--C# Code-->
@page "/PostsView"
@using Service.Entities;
@using BlazorProject.Services;
@inject IConsultService _consultService;

@code {
    private IEnumerable<Posts> posts = null!;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        posts = await _consultService.getPosts();
    }

}

<!--end-->
<!--HTML -->

<h3>Posts</h3>
@if (posts == null)
{
    <h4>Loading</h4>
}
else
{
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Title</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in posts)
            {
                <tr>
                    <td>@item.title</td>
                    <td>@item.body</td>

                </tr>
            }
        </tbody>
    </table>
}
<!--End HTML-->
